node_modules/
.npm-cache/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# env
.env
.env*.local

# typescript
*.tsbuildinfo

# macOS
.DS_Store
*.pem

# design-sync
.ds-sync/
ds-bundle/
.design-sync/.cache/
.design-sync/learnings/
.design-sync/node_modules
packages/ui/dist/
